body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header img {
    width: 100%; /* Make the image span the full width of the page */
    height: auto; /* Keep the aspect ratio */
}
.header {
    background-image: url("../static/images/header.jpeg");
    background-size: cover; /* Make the image cover the entire div */
    background-position: center; /* Center the image */
    height: 300px; /* Adjust height as needed */
    width: 100%; /* Full width */
}

main {
    padding: 20px;
}