body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: dark;
    color: black;
}

header img {
    width: 100%; /* Make the image span the full width of the page */
    height: auto; /* Keep the aspect ratio */
}
.headerbackground {
    background-color: burlywood;
    background-image: url("../static/images/header.jpeg"); /* Path to your image */
    background-size: cover; /* Scale the image to cover the header */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 300px; /* Set the height of the header */
    display: flex; /* Center content vertically and horizontally */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Ensure text contrasts with the image */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to make text readable */
    margin: 0; /* Remove default margin */
}
.site-name {
    background-color: burlywood;
}
h1, h3, h4, h5 {
    font-weight: bold;
}